
/* Icons
----------------------------------------------------------------------------------------------------*/
img.os{ width:16px; height:16px; vertical-align:middle; background-image:url(../../images/icons.png); padding:0px; margin:2px; }

/* icon position */
img.a1{background-position:-16px -16px;}
img.a2{background-position:-16px -32px;}
img.a3{background-position:-16px -48px;}
img.a4{background-position:-16px -64px;}
img.a5{background-position:-16px -80px;}
img.a6{background-position:-16px -96px;}
img.a7{background-position:-16px -112px;}
img.a8{background-position:-16px -128px;}
img.a9{background-position:-16px -144px;}
img.b1{background-position:-32px -16px;}
img.b2{background-position:-32px -32px;}
img.b3{background-position:-32px -48px;}
img.b4{background-position:-32px -64px;}
img.b5{background-position:-32px -80px;}
img.b6{background-position:-32px -96px;}
img.b7{background-position:-32px -112px;}
img.b8{background-position:-32px -128px;}
img.b9{background-position:-32px -144px;}
img.c1{background-position:-48px -16px;}
img.c2{background-position:-48px -32px;}
img.c3{background-position:-48px -48px;}
img.c4{background-position:-48px -64px;}
img.c5{background-position:-48px -80px;}
img.c6{background-position:-48px -96px;}
img.c7{background-position:-48px -112px;}
img.c8{background-position:-48px -128px;}
img.c9{background-position:-48px -144px;}
img.d1{background-position:-64px -16px;}
img.d2{background-position:-64px -32px;}
img.d3{background-position:-64px -48px;}
img.d4{background-position:-64px -64px;}
img.d5{background-position:-64px -80px;}
img.d6{background-position:-64px -96px;}
img.d7{background-position:-64px -112px;}
img.d8{background-position:-64px -128px;}
img.d9{background-position:-64px -144px;}
img.e1{background-position:-80px -16px;}
img.e2{background-position:-80px -32px;}
img.e3{background-position:-80px -48px;}
img.e4{background-position:-80px -64px;}
img.e5{background-position:-80px -80px;}
img.e6{background-position:-80px -96px;}
img.e7{background-position:-80px -112px;}
img.e8{background-position:-80px -128px;}
img.e9{background-position:-80px -144px;}
img.f1{background-position:-96px -16px;}
img.f2{background-position:-96px -32px;}
img.f3{background-position:-96px -48px;}
img.f4{background-position:-96px -64px;}
img.f5{background-position:-96px -80px;}
img.f6{background-position:-96px -96px;}
img.f7{background-position:-96px -112px;}
img.f8{background-position:-96px -128px;}
img.f9{background-position:-96px -144px;}
img.g1{background-position:-112px -16px;}
img.g2{background-position:-112px -32px;}
img.g3{background-position:-112px -48px;}
img.g4{background-position:-112px -64px;}
img.g5{background-position:-112px -80px;}
img.g6{background-position:-112px -96px;}
img.g7{background-position:-112px -112px;}
img.g8{background-position:-112px -128px;}
img.g9{background-position:-112px -144px;}
img.h1{background-position:-128px -16px;}
img.h2{background-position:-128px -32px;}
img.h3{background-position:-128px -48px;}
img.h4{background-position:-128px -64px;}
img.h5{background-position:-128px -80px;}
img.h6{background-position:-128px -96px;}
img.h7{background-position:-128px -112px;}
img.h8{background-position:-128px -128px;}
img.h9{background-position:-128px -144px;}
img.i1{background-position:-144px -16px;}
img.i2{background-position:-144px -32px;}
img.i3{background-position:-144px -48px;}
img.i4{background-position:-144px -64px;}
img.i5{background-position:-144px -80px;}
img.i6{background-position:-144px -96px;}
img.i7{background-position:-144px -112px;}
img.i8{background-position:-144px -128px;}
img.i9{background-position:-144px -144px;}
img.j1{background-position:-160px -16px;}
img.j2{background-position:-160px -32px;}
img.j3{background-position:-160px -48px;}
img.j4{background-position:-160px -64px;}
img.j5{background-position:-160px -80px;}
img.j6{background-position:-160px -96px;}
img.j7{background-position:-160px -112px;}
img.j8{background-position:-160px -128px;}
img.j9{background-position:-160px -144px;}
img.k1{background-position:-176px -16px;}
img.k2{background-position:-176px -32px;}
img.k3{background-position:-176px -48px;}
img.k4{background-position:-176px -64px;}
img.k5{background-position:-176px -80px;}
img.k6{background-position:-176px -96px;}
img.k7{background-position:-176px -112px;}
img.k8{background-position:-176px -128px;}
img.k9{background-position:-176px -144px;}
img.l1{background-position:-192px -16px;}
img.l2{background-position:-192px -32px;}
img.l3{background-position:-192px -48px;}
img.l4{background-position:-192px -64px;}
img.l5{background-position:-192px -80px;}
img.l6{background-position:-192px -96px;}
img.l7{background-position:-192px -112px;}
img.l8{background-position:-192px -128px;}
img.l9{background-position:-192px -144px;}
img.m1{background-position:-208px -16px;}
img.m2{background-position:-208px -32px;}
img.m3{background-position:-208px -48px;}
img.m4{background-position:-208px -64px;}
img.m5{background-position:-208px -80px;}
img.m6{background-position:-208px -96px;}
img.m7{background-position:-208px -112px;}
img.m8{background-position:-208px -128px;}
img.m9{background-position:-208px -144px;}
img.n1{background-position:-224px -16px;}
img.n2{background-position:-224px -32px;}
img.n3{background-position:-224px -48px;}
img.n4{background-position:-224px -64px;}
img.n5{background-position:-224px -80px;}
img.n6{background-position:-224px -96px;}
img.n7{background-position:-224px -112px;}
img.n8{background-position:-224px -128px;}
img.n9{background-position:-224px -144px;}
img.o1{background-position:-240px -16px;}
img.o2{background-position:-240px -32px;}
img.o3{background-position:-240px -48px;}
img.o4{background-position:-240px -64px;}
img.o5{background-position:-240px -80px;}
img.o6{background-position:-240px -96px;}
img.o7{background-position:-240px -112px;}
img.o8{background-position:-240px -128px;}
img.o9{background-position:-240px -144px;}
img.p1{background-position:-256px -16px;}
img.p2{background-position:-256px -32px;}
img.p3{background-position:-256px -48px;}
img.p4{background-position:-256px -64px;}
img.p5{background-position:-256px -80px;}
img.p6{background-position:-256px -96px;}
img.p7{background-position:-256px -112px;}
img.p8{background-position:-256px -128px;}
img.p9{background-position:-256px -144px;}
img.q1{background-position:-272px -16px;}
img.q2{background-position:-272px -32px;}
img.q3{background-position:-272px -48px;}
img.q4{background-position:-272px -64px;}
img.q5{background-position:-272px -80px;}
img.q6{background-position:-272px -96px;}
img.q7{background-position:-272px -112px;}
img.q8{background-position:-272px -128px;}
img.q9{background-position:-272px -144px;}
img.r1{background-position:-288px -16px;}
img.r2{background-position:-288px -32px;}
img.r3{background-position:-288px -48px;}
img.r4{background-position:-288px -64px;}
img.r5{background-position:-288px -80px;}
img.r6{background-position:-288px -96px;}
img.r7{background-position:-288px -112px;}
img.r8{background-position:-288px -128px;}
img.r9{background-position:-288px -144px;}
img.s1{background-position:-304px -16px;}
img.s2{background-position:-304px -32px;}
img.s3{background-position:-304px -48px;}
img.s4{background-position:-304px -64px;}
img.s5{background-position:-304px -80px;}
img.s6{background-position:-304px -96px;}
img.s7{background-position:-304px -112px;}
img.s8{background-position:-304px -128px;}
img.s9{background-position:-304px -144px;}
img.t1{background-position:-320px -16px;}
img.t2{background-position:-320px -32px;}
img.t3{background-position:-320px -48px;}
img.t4{background-position:-320px -64px;}
img.t5{background-position:-320px -80px;}
img.t6{background-position:-320px -96px;}
img.t7{background-position:-320px -112px;}
img.t8{background-position:-320px -128px;}
img.t9{background-position:-320px -144px;}
img.u1{background-position:-336px -16px;}
img.u2{background-position:-336px -32px;}
img.u3{background-position:-336px -48px;}
img.u4{background-position:-336px -64px;}
img.u5{background-position:-336px -80px;}
img.u6{background-position:-336px -96px;}
img.u7{background-position:-336px -112px;}
img.u8{background-position:-336px -128px;}
img.u9{background-position:-336px -144px;}
img.v1{background-position:-352px -16px;}
img.v2{background-position:-352px -32px;}
img.v3{background-position:-352px -48px;}
img.v4{background-position:-352px -64px;}
img.v5{background-position:-352px -80px;}
img.v6{background-position:-352px -96px;}
img.v7{background-position:-352px -112px;}
img.v8{background-position:-352px -128px;}
img.v9{background-position:-352px -144px;}
img.w1{background-position:-368px -16px;}
img.w2{background-position:-368px -32px;}
img.w3{background-position:-368px -48px;}
img.w4{background-position:-368px -64px;}
img.w5{background-position:-368px -80px;}
img.w6{background-position:-368px -96px;}
img.w7{background-position:-368px -112px;}
img.w8{background-position:-368px -128px;}
img.w9{background-position:-368px -144px;}
img.x1{background-position:-384px -16px;}
img.x2{background-position:-384px -32px;}
img.x3{background-position:-384px -48px;}
img.x4{background-position:-384px -64px;}
img.x5{background-position:-384px -80px;}
img.x6{background-position:-384px -96px;}
img.x7{background-position:-384px -112px;}
img.x8{background-position:-384px -128px;}
img.x9{background-position:-384px -144px;}
img.y1{background-position:-400px -16px;}
img.y2{background-position:-400px -32px;}
img.y3{background-position:-400px -48px;}
img.y4{background-position:-400px -64px;}
img.y5{background-position:-400px -80px;}
img.y6{background-position:-400px -96px;}
img.y7{background-position:-400px -112px;}
img.y8{background-position:-400px -128px;}
img.y9{background-position:-400px -144px;}
img.z1{background-position:-416px -16px;}
img.z2{background-position:-416px -32px;}
img.z3{background-position:-416px -48px;}
img.z4{background-position:-416px -64px;}
img.z5{background-position:-416px -80px;}
img.z6{background-position:-416px -96px;}
img.z7{background-position:-416px -112px;}
img.z8{background-position:-416px -128px;}
img.z9{background-position:-416px -144px;}