@charset "utf-8";
/* Reset
----------------------------------------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,
h1,h2,h3,h4,h5,h6,pre,code,form,
fieldset,legend,
p,blockquote,th,td { margin:0; padding:0; }
fieldset,img { border:0; }

html{ background: transparent; }
body { line-height: 1; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }
caption,th { text-align:left; }
/* reset style */
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
h1,h2,h3,h4,h5,h6 { font-size:100%;	font-weight:normal; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
abbr,acronym { border:0; font-variant:normal; }
/* to preserve line-height and selector appearance */
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit; }
/* to enable resizing for IE */
input,textarea,select { *font-size:100%; }
/* because legend doesn't inherit in IE */
legend { color:#000; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* Base
----------------------------------------------------------------------------------------------------*/
h1 { font-size: 25px; }
h2 { font-size: 23px; }
h3 { font-size: 21px; }
h4 { font-size: 19px; }
h5 { font-size: 17px; }
h6 { font-size: 15px; }
/* top & bottom margin based on font size */
h1,h2,h3 { margin:1em 0; }
/* bringing boldness back to headers and the strong element*/
h1,h2,h3,h4,h5,h6,strong { font-weight:bold; }
/* indicating to users that more info is available */
abbr,acronym { border-bottom:1px dotted #000; cursor:help; } 
/* bringing italics back to the em element*/
em { font-style:italic; }
/* giving blockquotes and lists room to breath */
blockquote,ul,ol,dl { margin:1em; }
/* bringing lists on to the page with breathing room */
ol,ul,dl { margin-left:2em; }
/* giving OL's LIs generated numbers */
ol li { list-style: decimal outside; }
/* giving UL's LIs generated disc markers */
ul li { list-style: disc outside; }
/* providing spacing for definition terms */
dl dd { margin-left:1em; }
/* borders and padding to make the table readable */
th,td { border:1px solid #000; padding:.5em; }
/* distinguishing table headers from data cells */
th { font-weight:bold; text-align:center; }
caption {
	/*coordinated margin to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
/* so things don't run into each other */
p,fieldset,table,pre { margin-bottom:1em; }
/* include margin and padding in the width calculation of input and textarea */
input[type="text"], input[type="password"],textarea { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; /* ie8 only */ box-sizing: border-box; }
input[type="checkbox"], input[type="radio"] { vertical-align: middle; }


/* Fonts
----------------------------------------------------------------------------------------------------*/
/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 */
body {
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	*font-size:small; /* for IE */
	*font:x-small; /* for IE in quirks mode */
}

/**
 * Nudge down to get to 13px equivalent for these form elements
 */ 
select,
input,
button,
textarea {
	font:99% arial,helvetica,clean,sans-serif;
}

/**
 * To help tables remember to inherit
 */
table {
	font-size:inherit;
	font:100%;
}

/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,
code,
kbd,
samp,
tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}