/* xheditor plugins style
----------------------------------------------------------------------------------------------------*/
.xhePlugins_btnFlv { background:transparent url(../editor/plugins/mediaplayer/flv.gif) no-repeat 16px 16px; background-position:2px 2px; }
.xhePlugins_btnGoogleMap { width:20px !important; background:transparent url(../editor/plugins/googlemap/map.gif) no-repeat center center; }
.xhePlugins_btnPageBreak { width:20px !important; background:transparent url(../editor/plugins/pagebreak/break.gif) no-repeat center center; }
.xhePlugins_btnRemoveLink { width:20px !important; background:transparent url(../editor/plugins/removelink/icon.gif) no-repeat center center; }

.xhePageBreak { background:url(../editor/plugins/pagebreak/pagebreak.gif) no-repeat scroll center top #FFFFFF; border-color:#CCCCCC -moz-use-text-color -moz-use-text-color; border-right:0 none; border-style:dotted none none; border-width:1px 0 0; display:block; height:12px; margin-top:15px; width:100%; }
